
<div class="container m-t-3">
  <h1>FORMULARIOS</h1>
  <hr />
  <br>

  <div class="text-center">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-outline-primary" routerLinkActive="active" [routerLink]="['template']">Template Form</button>
      <button type="button" class="btn btn-outline-primary" routerLinkActive="active" [routerLink]="['data']">Data Form</button>
    </div>

  </div>
  <br>

  <router-outlet></router-outlet>
  
  
</div>
  