   
<h3>Aproximacion por Data</h3>
<br>

<form [formGroup]="forma" (ngSubmit)="guardarCambios()" novalidate>

  <div formGroupName="nombrecompleto">
    <div class="form-group row">
      <label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
      <div class="col-sm-10">
        <input  
                type="text" 
                class="form-control"
                placeholder="Nombre"
                name="nombre"
                [ngClass]="{ 'is-invalid': forma.get('nombrecompleto.nombre').invalid && forma.get('nombrecompleto.nombre').touched, 'is-valid': forma.get('nombrecompleto.nombre').valid}"
                formControlName="nombre"
                >
        <small *ngIf="forma.get('nombrecompleto.nombre').errors?.required" class="invalid-feedback">Nombre es un campo requrido</small>
        <small *ngIf="forma.get('nombrecompleto.nombre').errors?.minlength" class="invalid-feedback">Nombre debe ser al menos 3 caracteres</small>
  
      </div>
    </div>
    
    <div class="form-group row">
        <label for="apellido" class="col-sm-2 col-form-label">Apellido</label>
        <div class="col-sm-10">
          <input  
                  type="text" 
                  class="form-control"
                  placeholder="Apellido"
                  name="apellido"
                  [ngClass]="{ 'is-invalid': forma.controls.nombrecompleto.controls.apellido.invalid && forma.controls.nombrecompleto.controls.apellido.touched, 'is-valid': forma.controls.nombrecompleto.controls.apellido.valid}"
                  formControlName="apellido"
                  >
          <small *ngIf="forma.controls['nombrecompleto'].controls.errors?.required" class="invalid-feedback">Apellido es un campo requrido</small>
          
    
        </div>
      </div>

  </div>
  
    <div class="form-group row">
        <label for="nombre" class="col-sm-2 col-form-label">Correo</label>
        <div class="col-sm-10">
          <input  
                  type="email" 
                  class="form-control"
                  placeholder="Correo"
                  name="correo"
                  [ngClass]="{ 'is-invalid': forma.controls.correo.invalid && forma.controls.correo.touched, 'is-valid': forma.controls.correo.valid}"
                  formControlName="correo"
                  >

          <small *ngIf="forma.controls['correo'].errors?.required" class="invalid-feedback">Correo es un campo requrido</small>
    
        </div>
      </div>

  <button type="submit" class="btn btn-primary" [disabled]="!forma.valid"> Guardar </button>
</form>
